Repository nlamirault/opentelemetry-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/go, area/python, area/java, area/js, area/rust, area/swift

feat(rust): typo
  .github/workflows/build-rust.yaml
Labels: area/github

feat(rust): typo
  .github/workflows/build-js.yaml
Labels: area/github

feat(rust): typo
  .github/workflows/build-rust.yaml
Labels: area/github

feat(rust): typo
  .github/workflows/build-go.yaml
  .github/workflows/build-java.yaml
  .github/workflows/build-js.yaml
  .github/workflows/build-python.yaml
  .github/workflows/build-rust.yaml
  .github/workflows/build-swift.yaml
  .github/workflows/build-ts.yaml
Labels: area/github

feat(rust): typo
  apps/otel-js/Dockerfile
Labels: area/js

feat(github): clean
  .github/workflows/build-java.yaml
  .github/workflows/build-js.yaml
  .github/workflows/build-rust.yaml
  .github/workflows/build-swift.yaml
  .github/workflows/build-ts.yaml
Labels: area/github

feat(github): clean
  Makefile
Labels: none

fix(rust): Docker configuration
  apps/otel-rust/Dockerfile
Labels: area/rust

fix(github): add permissions
  .github/workflows/size.yaml
Labels: area/github

fix(rust): cleanup
  apps/otel-rust/src/main.rs
  apps/otel-rust/src/otel/metrics.rs
Labels: area/rust

fix(github): update action
  .github/workflows/size.yaml
Labels: area/github

feat(nodejs): refactoring logging
  apps/otel-js/src/app.js
  apps/otel-js/src/routes/chain.js
  apps/otel-js/src/routes/error.js
  apps/otel-js/src/routes/health.js
  apps/otel-js/src/routes/metrics.js
  apps/otel-js/src/routes/root.js
  apps/otel-js/src/routes/version.js
  apps/otel-js/src/telemetry/logger.js
  apps/otel-js/src/telemetry/meter.js
  apps/otel-js/src/telemetry/otel.js
  apps/otel-js/src/telemetry/tracer.js
Labels: area/js

feat(js): migration to OTel v2.x
  .gitignore
  apps/otel-js/package.json
  apps/otel-js/pnpm-lock.yaml
  apps/otel-js/src/middleware/logger.js
  apps/otel-js/src/telemetry/logger.js
  apps/otel-js/src/telemetry/otel.js
  apps/otel-js/src/telemetry/tracer.js
Labels: area/js

fix(js): refactoring logging with OpenTelemetry
  apps/otel-js/src/app.js
  apps/otel-js/src/middleware/logger.js
  apps/otel-js/src/routes/chain.js
  apps/otel-js/src/routes/error.js
  apps/otel-js/src/routes/health.js
  apps/otel-js/src/routes/metrics.js
  apps/otel-js/src/routes/root.js
  apps/otel-js/src/routes/version.js
  apps/otel-js/src/telemetry/otel.js
Labels: area/js

feat(js): clean resources
  apps/otel-js/src/telemetry/otel.js
Labels: area/js

fix(swift): log level
  apps/otel-swift/Sources/App/Services/OTelLogger.swift
Labels: area/swift

feat(ts): Refactoring and migrate to Fastify
  apps/otel-ts/package-lock.json
  apps/otel-ts/package.json
  apps/otel-ts/src/app/initialize.ts
  apps/otel-ts/src/index.ts
  apps/otel-ts/src/otel/initialize.ts
  apps/otel-ts/src/otel/logger.ts
  apps/otel-ts/src/otel/logging.ts
  apps/otel-ts/src/routes/health.ts
  apps/otel-ts/src/routes/root.ts
  apps/otel-ts/src/routes/routes.ts
  apps/otel-ts/src/routes/version.ts
  apps/otel-ts/yarn.lock
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
# SPDX-License-Identifier: Apache-2.0

---
# Labels for action/labeler

######################################
# Label area/xxx

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

area/go:
- changed-files:
  - any-glob-to-any-file: apps/otel-go/**

area/python:
- changed-files:
  - any-glob-to-any-file: apps/otel-python/**

area/java:
- changed-files:
  - any-glob-to-any-file: apps/otel-java/**

area/js:
- changed-files:
  - any-glob-to-any-file: apps/otel-js/**

area/rust:
- changed-files:
  - any-glob-to-any-file: apps/otel-rust/**

area/swift:
- changed-files:
  - any-glob-to-any-file: apps/otel-swift/**
