Repository nlamirault/opentelemetry-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/go, area/python, area/java, area/js, area/rust, area/swift

feat(signoz): Refactoring setup
  README.md
  docker-compose-apps.yaml
  docker-compose-greptimedb.yaml
  docker-compose-lgtm.yaml
  docker-compose-signoz.yaml
  etc/clickhouse/config.xml
  etc/clickhouse/custom-function.xml
  etc/clickhouse/users.xml
  etc/otel/otel-collector-lgtm.yaml
  etc/otel/otel-collector-signoz.yaml
  etc/signoz/otel-collector-opamp-config.yaml
  etc/signoz/prometheus.yml
Labels: none

feat(python): add instrumentation for system
  apps/otel-python/otelpython/application.py
  apps/otel-python/pyproject.toml
  apps/otel-python/uv.lock
Labels: area/python

feat(opentelemetry): comply with the official naming conventions for better observability and cross-service compatibility
  apps/otel-java/src/main/java/xyz/lamirault/otel/app/service/CoreService.java
  apps/otel-python/otelpython/api/chain.py
  apps/otel-python/otelpython/telemetry/metrics.py
  apps/otel-rust/src/handlers.rs
Labels: area/python, area/java, area/rust

feat(go): Refactoring Prometheus metrics
  apps/otel-go/go.mod
  apps/otel-go/go.sum
  apps/otel-go/main.go
  apps/otel-go/router/router.go
  apps/otel-go/telemetry/meter.go
Labels: area/go

feat(go): Refactoring metrics
  apps/otel-go/handlers/metrics.go
  apps/otel-go/main.go
  apps/otel-go/router/router.go
  apps/otel-go/telemetry/buildinfo.go
Labels: area/go

feat(js): Refactoring OpenTelemetry package
  apps/otel-js/src/app.js
  apps/otel-js/src/telemetry/logger.js
  apps/otel-js/src/telemetry/meter.js
  apps/otel-js/src/telemetry/otel.js
  apps/otel-js/src/telemetry/tracer.js
Labels: area/js

feat(js): Refactoring Prometheus metrics
  apps/otel-js/package-lock.json
  apps/otel-js/package.json
  apps/otel-js/src/app.js
  apps/otel-js/src/routes/index.js
Labels: area/js

feat(js): Refactoring routes and metrics
  apps/otel-js/src/routes/chain.js
  apps/otel-js/src/routes/error.js
  apps/otel-js/src/routes/health.js
  apps/otel-js/src/routes/index.js
  apps/otel-js/src/routes/metrics.js
  apps/otel-js/src/routes/root.js
  apps/otel-js/src/routes/version.js
Labels: area/js

feat(rust): Refactoring routes
  apps/otel-rust/src/main.rs
  apps/otel-rust/src/routes/chain.rs
  apps/otel-rust/src/routes/health.rs
  apps/otel-rust/src/routes/mod.rs
  apps/otel-rust/src/routes/root.rs
  apps/otel-rust/src/routes/version.rs
Labels: area/rust

feat(swift): Refactoring routes
  apps/otel-swift/Sources/App/Entrypoint.swift
  apps/otel-swift/Sources/App/Routes.swift
  apps/otel-swift/Sources/App/Routes/HealthRoutes.swift
  apps/otel-swift/Sources/App/Routes/RootRoutes.swift
  apps/otel-swift/Sources/App/Routes/VersionRoutes.swift
Labels: area/swift

feat(swift): build info metric
  apps/otel-swift/Sources/App/Entrypoint.swift
Labels: area/swift

feat(typescript): Refactoring packages
  apps/otel-ts/package-lock.json
  apps/otel-ts/package.json
  apps/otel-ts/src/otel/initialize.ts
  apps/otel-ts/src/otel/logger.ts
  apps/otel-ts/src/otel/meter.ts
  apps/otel-ts/src/otel/tracer.ts
  apps/otel-ts/src/routes/health.ts
  apps/otel-ts/src/routes/root.ts
  apps/otel-ts/src/routes/routes.ts
  apps/otel-ts/src/routes/version.ts
Labels: none

feat(build-info): add metric
  apps/otel-go/telemetry/buildinfo.go
  apps/otel-java/src/main/java/xyz/lamirault/otel/app/AppApplication.java
  apps/otel-java/src/main/java/xyz/lamirault/otel/app/controller/CoreController.java
  apps/otel-js/src/constants.js
  apps/otel-js/src/routes/metrics.js
  apps/otel-python/otelpython/application.py
  apps/otel-python/otelpython/constants.py
  apps/otel-python/otelpython/telemetry/meter.py
  apps/otel-python/otelpython/telemetry/metrics.py
  apps/otel-react/package-lock.json
  apps/otel-react/package.json
  apps/otel-react/src/constants.ts
  apps/otel-react/src/faro/initialize.ts
  apps/otel-rust/src/constants.rs
  apps/otel-rust/src/main.rs
  apps/otel-swift/Sources/App/Entrypoint.swift
  apps/otel-swift/Sources/App/Utilities/Constants.swift
  apps/otel-ts/src/otel/constants.ts
  apps/otel-ts/src/otel/meter.ts
Labels: area/go, area/python, area/java, area/js, area/rust, area/swift

feat(rust): refactoring build-info creation
  apps/otel-rust/src/main.rs
  apps/otel-rust/src/otel.rs
  apps/otel-rust/src/otel/metrics.rs
Labels: area/rust

feat(apps): clean build info
  apps/otel-go/telemetry/metrics.go
  apps/otel-js/src/app.js
  apps/otel-js/src/routes/metrics.js
  apps/otel-js/src/telemetry/metrics.js
Labels: area/go, area/js

fix(docker-compose): OTLP endpoints
  docker-compose-apps.yaml
Labels: none

feat(action): Golang
  .github/workflows/build-go.yaml
Labels: area/github

feat(python): add tools
  apps/otel-python/pyproject.toml
  apps/otel-python/uv.lock
Labels: area/python

fix(python): style
  apps/otel-python/main.py
  apps/otel-python/otelpython/api/chain.py
  apps/otel-python/otelpython/api/health.py
  apps/otel-python/otelpython/api/root.py
  apps/otel-python/otelpython/api/version.py
  apps/otel-python/otelpython/application.py
  apps/otel-python/otelpython/constants.py
  apps/otel-python/otelpython/exceptions.py
  apps/otel-python/otelpython/settings.py
  apps/otel-python/otelpython/telemetry/logger.py
  apps/otel-python/otelpython/telemetry/meter.py
  apps/otel-python/otelpython/telemetry/metrics.py
  apps/otel-python/otelpython/telemetry/otel.py
  apps/otel-python/otelpython/telemetry/tracer.py
Labels: area/python

feat(github): CICD for applications
  .github/workflows/build-java.yaml
  .github/workflows/build-js.yaml
  .github/workflows/build-python.yaml
  .github/workflows/build-rust.yaml
  .github/workflows/build-swift.yaml
  .github/workflows/build-ts.yaml
Labels: area/github

fix(github): Python build
  .github/workflows/build-python.yaml
Labels: area/github

fix(github): naming
  .github/workflows/build-python.yaml
Labels: area/github

fix(github): python versions
  .github/workflows/build-python.yaml
Labels: area/github

fix(github): python versions
  .github/workflows/build-python.yaml
Labels: area/github

fix(github): Docker build
  .github/workflows/build-go.yaml
  .github/workflows/build-python.yaml
Labels: area/github

feat(go): use serviceName
  apps/otel-go/telemetry/metrics.go
Labels: area/go

feat(go): download
  apps/otel-js/package-lock.json
Labels: area/js

feat(js): node versions
  apps/otel-js/package.json
Labels: area/js

feat(js): typo
  .github/workflows/build-go.yaml
  .github/workflows/build-js.yaml
Labels: area/github

feat(go): Go versions
  .github/workflows/build-go.yaml
  .github/workflows/build-js.yaml
Labels: area/github

feat(go): Go versions
  .github/workflows/build-go.yaml
Labels: area/github

feat(go): golangci-lint configuration
  .github/workflows/build-go.yaml
Labels: area/github

feat(js): node versions
  .github/workflows/build-js.yaml
Labels: area/github

feat(js): install
  .github/workflows/build-js.yaml
Labels: area/github

feat(go): check error
  apps/otel-go/client/http.go
Labels: area/go

feat(go): clean
  apps/otel-go/main.go
Labels: area/go

feat(docker): clean
  apps/otel-go/Dockerfile
Labels: area/go

feat(docker): clean
  .github/workflows/build-go.yaml
  .github/workflows/build-js.yaml
Labels: area/github

feat(rust): refactoring
  apps/otel-rust/src/main.rs
  apps/otel-rust/src/otel/resource_provider.rs
Labels: area/rust

feat(github): clean
  .github/workflows/build-go.yaml
  .github/workflows/build-java.yaml
  .github/workflows/build-js.yaml
  .github/workflows/build-python.yaml
  .github/workflows/build-rust.yaml
  .github/workflows/build-swift.yaml
  .github/workflows/build-ts.yaml
Labels: area/github

.github/labeler.yml:

# SPDX-FileCopyrightText: Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
# SPDX-License-Identifier: Apache-2.0

---
# Labels for action/labeler

######################################
# Label area/xxx

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

area/go:
- changed-files:
  - any-glob-to-any-file: apps/otel-go/**

area/python:
- changed-files:
  - any-glob-to-any-file: apps/otel-python/**

area/java:
- changed-files:
  - any-glob-to-any-file: apps/otel-java/**

area/js:
- changed-files:
  - any-glob-to-any-file: apps/otel-js/**

area/rust:
- changed-files:
  - any-glob-to-any-file: apps/otel-rust/**

area/swift:
- changed-files:
  - any-glob-to-any-file: apps/otel-swift/**
